/**
 * - Flag classes should be copied in from the following file as needed:
 *      /node_modules/flag-icon-css/css/flag-icon.css
 * - The background-image URLs should be amended to point to a flag's image file in:
 *      /node_modules/flag-icon-css/flags/{4x3,1x1}
 */
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: '\00a0';
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-gb {
  background-image: url(../../node_modules/flag-icon-css/flags/4x3/gb.svg);
}
.flag-icon-gb.flag-icon-squared {
  background-image: url(../../node_modules/flag-icon-css/flags/1x1/gb.svg);
}
.flag-icon-us {
  background-image: url(../../node_modules/flag-icon-css/flags/4x3/us.svg);
}
.flag-icon-us.flag-icon-squared {
  background-image: url(../../node_modules/flag-icon-css/flags/1x1/us.svg);
}
.flag-icon-fr {
  background-image: url(../../node_modules/flag-icon-css/flags/4x3/fr.svg);
}
.flag-icon-fr.flag-icon-squared {
  background-image: url(../../node_modules/flag-icon-css/flags/1x1/fr.svg);
}
